<% @game_results.each do |game_result| %>
  <h1><%= game_result.question.question %></h1>
  <% game_result.issues.each do |issue| %>
    <% if issue.id == game_result.answer %>
      <p class="chosen">
    <% else %>
      <p>
    <% end %>
      <%= issue.problem %>
    </p>
  <% end %>
  <hr size="1" />
<% end %>  
<br />
<br />
