<div class="page_wrapper">
	<br>
	<div class="intro_statement">Play the game! Answer these questions to help identify the issues that are most important to you and simplest to address.
	</div>
	<div>
	<%= render 'form' %>
	</div>
	
</div>