<div class="login_wrap">
	<h1>Editing Issue</h1>
</div>
<%= render 'form' %>

<br>
<br>
<div class="login_wrap">
	<!-- <%= link_to 'Show', @issue %> |    -->
	<%= link_to 'BACK', new_issue_path, :class => 'back_button' %>
</div>
<br>
<br>