<div class="page_wrapper">

	
<table class="page-2column">
    	<td>
				<%= render 'form' %>
    	</td>
    	
    	<td valign="top">
    	<div class="right-links">
    		<div class="sign_in_2">
                  <!--    			<p><a href="/signin">Sign In to Save Your Data</a></p> -->
    		</div>
    				
    		<div class="dots">
            ......................................
            </div>
    		<!-- show example hidden --> 
    		<div class="extra_info_wrapper">
                        <div class="dropbox_title_wrapper" id="dropbox_title_wrapper_0">
                            
                        	<div class="dropbox_title_inner_wrapper">    		  		  			
    			
    							<div class="example_submission" id="example_title">
    								<p>See an Example Submission</p>
    							</div>	
    						</div>	
    						<div class="show_example">	
    							<div class="expand_box2" id="example_expand_box">
    								<p><span>+</span></p>
    							</div>
    						</div>	    
                            
                        </div> 
                        
                        <div class="info_text_wrapper" id="info_text_0">
                            <div class="info_text_inner_wrapper" >
                                <p><span>ISSUE</span> <br>
                                The issue you are passionate about is listed here.<br>
                                <br> 
                                <span>CAUSES</span><br>
                                What are some causes of the issue? <br>There may be more than one. 
                                <br>Think outside of the box for this one.
                                <br>
                                <br>
                                <span>EFFECTS</span><br>
                                What happens because of the issue, what are the effects on the world?<br></p>
                            </div>
                        </div>	
    		</div>
    		<!-- end show example hidden -->
    				
    	</div>
    	</td>
    	
    </table>
<!-- example expand button function script -->


<script>
   	$("#example_expand_box").click(function () {
                        if ($("#info_text_0").is(":hidden")) {
                            $("#info_text_0").slideDown();
                            $("#example_expand_box").attr('class', 'expand_box2').children("span").text("+");
                        } 
                        else {
                            $("#info_text_0").slideUp();
                            $("#example_expand_box").attr('class', 'expand_box2').children("span").text("-");
                        }
                    }).css("cursor", "pointer");;
        $("#example_title").click(function () {
                        if ($("#info_text_0").is(":hidden")) {
                            $("#info_text_0").slideDown();
                            $("#example_expand_box").attr('class', 'expand_box2');
                        } 
                        else {
                            $("#info_text_0").slideUp();
                            $("#example_expand_box").attr('class', 'expand_box2');
                        }
                    }).css("cursor", "pointer");;
     </script>   
<!-- end example expand button function script--> 
     
<!-- script for adding new form fields -->
    
	<script language="javascript" type="text/javascript">
	
	
	function addField(tag1) {
	var tbody = document.getElementById(tag1);
	var ctr = tbody.getElementsByTagName("input").length + 1;
	var input;
	
	if ( ctr > 10 ) {
	alert ("Please limit your Causes to 10 items.");
	}else{
	
	if (document.all){ //input.name doesn't work in IE
	input = document.createElement('<input name="field_'+ctr+'">');
	}else{
	input = document.createElement('textarea');
	input.name = "field_"+ctr;
	}
	
	input.id = input.name;
	input.type = "text";
	input.value = "";
	input.className = "textfield";
	var cell = document.createElement('textarea');
	cell.style.height = '110px';
	cell.style.width = '598px';
	cell.appendChild(input);
	var row = document.createElement('tr');
	row.appendChild(cell);
	tbody.appendChild(row);
	
	window.document.causes_form.count.value = ctr;
	
	}
	}
	</script>			
	
	

