<h1>Listing drilldown_rules</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @drilldown_rules.each do |drilldown_rule| %>
  <tr>
    <td><%= link_to 'Show', drilldown_rule %></td>
    <td><%= link_to 'Edit', edit_drilldown_rule_path(drilldown_rule) %></td>
    <td><%= link_to 'Destroy', drilldown_rule, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Drilldown rule', new_drilldown_rule_path %>
