body
{
  background-color:#333333;
  background-image:url('CauseRoot_Landing.png');
  background-repeat:no-repeat;
  background-position: 150px top;
  text-align: center;
}

.emails
{
  position: absolute;
  left: 190px;
  top: 574px;
  width: 450px;
  text-align: left;

}

.inputbox
{
  padding:0.2em 0 0em 16px;
  width: 285px;
  height: 23px;
  border: 1px;
  background: #E3E3E3;
  color: #444444;
}

.button
{
  border: 0px;
  background: #F7941D;
  color: white;
  height: 27px;
  width: 93px;
  font-size: 14px;
}

.arrow1
{
  position: absolute;
  left: 115px;
  top: 647px;
  opacity: 0;
}

.arrow2
{
  position: absolute;
  left: 115px;
  top: 713px;
  opacity: 0;
}

.footer
{
  position: absolute;
  left: 50px;
  top: 850px;
  margin: 10px;
}


