body
{
  background-color:#333333;
  background-image:url('CauseRoot_Landing.png');
  background-repeat:no-repeat;
  background-position: 130px top;
  width: 1000px;
  text-align: center;
}

.hdr1 {
    font-family: 'Muli', sans-serif;
    font-size: 28px;
    font-style:normal;
    font-weight: 300;
    position:relative;
    color:#F7941E;
    top:121px;
    left:179px;
    width: 758px;
    text-align: left;
    line-height: 1.3;
}

.bod {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    font-style:normal;
    font-weight: 300;
    position:relative;
    top:140px;
    left:182px;
    width: 586px;
    color: #FF0000;
    text-align: left;
    line-height: 1.4;
}

.cta {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    font-style:bold;
    font-weight: 300;
    position:relative;
    color:#000000;
    top:190px;
    left:171px;
    width: 588px;
    text-align: left;
    line-height: 1.4;
}

.ftr {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    font-style:normal;
    font-weight: 300;
    position:relative;
    color:#000000;
    top:190px;
    left:171px;
    width: 588px;
    text-align: left;
    line-height: 1.4;
}
.emails
{
  position: absolute;
  left: 170px;
  top: 574px;
  width: 450px;
  text-align: left;

}

.inputbox
{
  padding:0.2em 0 0em 16px;
  width: 285px;
  height: 23px;
  border: 1px;
  background: #E3E3E3;
  color: #444444;
}

.button
{
  border: 0px;
  background: #F7941D;
  color: white;
  height: 27px;
  width: 93px;
  font-size: 14px;
}

.arrow1
{
  position: absolute;
  left: 115px;
  top: 647px;
  opacity: 0;
}

.arrow2
{
  position: absolute;
  left: 115px;
  top: 713px;
  opacity: 0;
}

.footer
{
  position: absolute;
  left: 50px;
  top: 850px;
  margin: 10px;
}


