<div class="about-content">
    	<h1>ABOUT CAUSEROOT</h1>
    	<div>    		
    		<p id="about-body"> In a world of increasing complexity, we need to be smarter about how we address society's most pressing issues. Our collaborative platform is enables you to share ideas for global change in an informed, efficient, and meaningful way. We analyze submitted issues to discover similar concerns submitted by other users. By distilling your issues, we create a detailed map of cause and effect interactions for issues of concern. Feeding this information back into the community, users benefit from the wisdom of the crowd to make an informed problem definition.<br>

								<br>At CauseRoot, our mission focuses on creating incentive where open market solutions have not yet been demonstrated as lucrative. Crowdfunding actions to address discrete issues of public concern allows these tasks to become actionable by talented individuals. Our platform model directs the motivations of the crowd to enable individuals within the crowd to act on them. You now have multiple ways to directly help fix problems that are most important to you.<br>

								<br>Sound good? You'd be surprised what a couple of ex-Rocket Scientists come up with when they're motivated to see a change in the world. Join us!
    		</p>
    	</div>
</div>
    
