<h1>About Us</h1>
<img src="<%=asset_path "challengers.jpg"%>" align="right" />
<p>We are a group of passionate individuals that believe that humans can work together to make the world a better place.</p>
