<div class="about-content">
    	<h1>ABOUT CAUSEROOT</h1>
    	    		
    	<p class="about-body"> In a world of increasing complexity, we need to be smarter about how we address society's most pressing issues. Our collaborative platform <span>enables you to share ideas for global change</span> in an informed, efficient, and meaningful way. We analyze submitted issues to discover similar concerns submitted by other users. By distilling your issues, we create a detailed map of cause and effect interactions for issues of concern. Feeding this information back into the community, users benefit from the <span>wisdom of the crowd to make an informed problem definition.</span><br>

			<br>At CauseRoot, <span>our mission focuses on creating incentive</span> where open market solutions have not yet been demonstrated as lucrative. Crowdfunding actions to address discrete issues of public concern allows these tasks to become actionable by talented individuals. Our platform model directs the motivations of the crowd to enable individuals within the crowd to act on them. You now have multiple ways to directly <span>help fix problems that are most important to you.</span><br>

			<br>Sound good? You'd be surprised what a couple of ex-Rocket Scientists come up with when they're motivated to see a change in the world. <span>Join us!</span>
    	</p>
    	
    	<br>
    	
    	<h1>THE GAME</h1>
    	<p class="about-body"> The Gaming Page is a fun way to think through tough comparisons of different problems to help identify issues that are "low hanging fruit", so we can run Technical Challenge Competitions to determine the best way to address those problems. We'll start running those Competitions in the next platform release once we get solid community input. It will also help you learn about the issues that are most important to you – which do you think they are? Which issues do you think have the highest immediacy? Which problems are the least complex to solve? Cheapest to solve? 
    	<br><span>Play the Game and find out!!!</span>
		</p>

	<br>
	
		<h1>THE ISSUES</h1>
    	<p class="about-body"> The Issues you submit will be the very first ones entered into large directed graph database that we call the "Problem Map". This database effectively interconnects Issues, their Causes, and their Effects for problems of all disciplines. 
    	For the Beta version of the platform, the entries that you submit will be recorded in our database and used on the Gaming Page so we can gauge how that Issue compares to other Issues submitted by the community. 
    	Whether it's threat of Global Warming, the inefficiency of your washing-machine, or prevalence of retro-virus in Africa, many modern issues have shared causes and common effects. Identifying these commonalities allows us be smarter 
    	about how we solve problems – helping solve the right problems that have the greatest impact and created the most value. We're still putting in the nuts and bolts at the moment, but every entry you provide helps to create the backbone of CauseRoot. 
		</p>

	<br>
	<h2>Follow our progress here:</h2>

  	<div id="logout-sm-icon">
  		<a href="https://twitter.com/CauseRoot" target="_blank"><img src="/twitter-Icon.png" /></a>
  		<a href="http://www.facebook.com/pages/CauseRoot/219709724825671" target="_blank"><img src="/fb-Icon.png" /></a>
 	</div>
 	
</div>
    
