/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


		
html, body {
	margin: 0;
	padding: 0;
	height: 98%;
	}

a { text-decoration: none; }	

.container {  
    min-height: 100%;
    position: relative;
	}	
	
.page_wrapper {
	margin-left: auto;
	margin-right: auto;
	padding-top: auto;
	padding-bottom: 70px;
	z-index: 100;
	width: 100%;
	height: 100%;
	}      
		
.nav li {
	list-style-type: none;
	top:0;
	float: left;
	font-family: Arial;
	font-size: 12px;
	text-decoration: none; 
    padding-right: 8%; 
 	padding-top: 0px;
 	padding-bottom: 8px;
 	display: inline-block;
	}
	
.nav a { color: #f7941e; }

.nav a:hover { color: #cc6600; }

#menu-item-beta {
		color: #a8a8a8;
		}
		
.navbar-fixed-top {
    z-index: 200;
    position: fixed;    
    top: 0;
    background: black;
    width: 100%;
     }

   
.sign-in span {
	color: #f7941e;
	padding: 6px;
	}
	
.notice {
	margin-left: 30px;
	color: #1C75BC;
	font-family: arial;
	}

.alert {
	margin-left: 30px;
	color: #1C75BC;
	font-family: arial;
	}

#error_explanation {
	margin-left: 30px;
	}

.logo {
	width: 95%;
	max-width: 392px;

	}
	
#logo_wrapper {
    margin: 70px 0px 20px 20px;
    clear: both;
	}
	
.sign_in_2 {
	margin-top: 80px;
	text-transform: uppercase;
	}

.sign_in_2 a {
	color: black;
	}
	
.example_submission {
	margin-top: 20px;	
	text-transform: uppercase;
	}
	
.right-links {
	margin-left: 50px;
	width: 285px;
	}

.right-links p {
	font-size: 12px;
	font-weight: bold;
	font-family: Arial;
	}

.show_example {	
	float: left;
	}
	
.expand_box2 {
	position: absolute;
	width: 14px;
	height: 14px;
	border-radius: 2px;
	background: #F7941D;
	text-align: center;
	margin-top: 22px;
	margin-left: 0px;
	z-index: 0;		
	}	
	
.expand_box2 p {
	color: white;
	font-size: 15px;
	font-weight: normal;
	margin-top: -14%;
	}	
	
	
.form-content {
	margin-top: 50px;
	margin-left: 30px;
	}

h1 {
	font-family: Arial;
	font-size: 16px;
	}
	
h2 {
	font-family: Arial;
	font-size: 14px;
	}	
	
#issue_review {
	width: 85%;
	max-width: 580px;
	}
		
.form-box {
	border: 1px solid #c8c8c8;
	width: 592px;
	height: 110px;
	}
		
.textbox {	
	border: 1px solid #c8c8c8;
	width: 592px;
	height: 110px;	
	padding: 4px;
	}	
		
#issue_field1 {	
	border: 1px solid #c8c8c8;
	width: 592px;
	height: 110px;	
	padding: 4px;
	font-family: Arial;
	letter-spacing: .5px;
	font-size: 12px;
	}	


#causes_field1 {
	border: 1px solid #c8c8c8;
	width: 592px;
	height: 110px;	
	padding: 4px;
	margin-bottom: 4px;
	font-family: Arial;
	font-size: 12px;
	letter-spacing: .5px;
	}	
	
#effects_field1 {
	border: 1px solid #c8c8c8;
	width: 592px;
	height: 110px;	
	padding: 4px;
	margin-bottom: 4px;
	font-family: Arial;
	font-size: 12px;
	letter-spacing: .5px;
	}	

.button {
	border: none;
	font-size: 12px;
	background: none;
	margin-left: 10px;
	cursor: pointer;
	}
	
#textbox2 {	
	border: 1px solid #c8c8c8;
	width: 592px;
	height: 110px;	
	padding: 4px;
	}		
	
.form-box p {
	color: #707070;
	font-size: 12px;
	padding: 2px;
	margin-left: 8px;
	}	
	
.add_problems {
	float: left;
	display: inline;
	margin-bottom: 30px;
	margin-top: 4px;
	width: 592px;
	}		
	
.add_problems > p {
	font-size: 12px;
	margin-left: 20px;
	}	
	
.add_box {
	display: inline-block;
	}

.add_cause {
	display: inline-block;
	margin-top: 4px;
	font-family: Arial;
	color: black;
	}
	
.add_effect {
	display: inline-block;
	margin-bottom: 10px;
	margin-top: 4px;
	font-family: Arial;
	color: black;
	}	
				
.expand_box {
	position: absolute;
	width: 14px;
	height: 14px;
	border-radius: 2px;
	background: #F7941D;
	margin-top: 5px;
	z-index: 0;	
	}	

.expand_box p:first-child {
	margin-top: -18%;
	color: white;
	font-size: 15px;
	}
	
.remove_box {
	display: inline-block;
	margin-bottom: 2px;
	margin-top: 4px;
	font-family: Arial;
	color: black;
	}
		
.remove_box2 {
	position: absolute;
	width: 14px;
	height: 14px;
	border-radius: 2px;
	background: #1C75BC;
	margin-top: 5px;
	z-index: 0;	
	}
	
.remove_box2 p:first-child {
	margin-top: -18%;
	margin-left: 2px;
	color: white;
	font-size: 15px;
	}		

.info_text_inner_wrapper span {
	font-family: Arial;
	font-weight: bold;
	}
	
.dropbox_title_wrapper {
    width: 100%;
    display: table;
    height:12px 
}

.dropbox_title_inner_wrapper {
    float: left;
    margin-right: 10px;
}	
	
.submit_button {
	border: none;
	margin-top: 35px;
	margin-bottom: 20px;
	margin-right: 20px;
	float: left;
	width: 100px;
	height: 24px;
	border-radius: 2px;
	background: #F7941D;
	text-align: center;
	color: white;
	font-family: Arial;
	font-size: 12px;
	cursor: pointer;
	z-index: 0;	
	}			
	
.edit_button {
	border: none;
	margin-top: 25px;
	margin-bottom: 20px;
	margin-right: 20px;
	padding-top: 4px;
	float: left;
	width: 100px;
	height: 20px;
	border-radius: 2px;
	background: #F7941D;
	text-align: center;
	color: white;
	font-family: Arial;
	font-size: 12px;
	cursor: pointer;
	z-index: 0;	
	}	
		
.back_button {
	border: none;
	margin-top: -15px;
	margin-bottom: 20px;
	margin-right: 20px;
	padding-top: 4px;
	float: left;
	width: 100px;
	height: 20px;
	border-radius: 2px;
	background: #F7941D;
	text-align: center;
	color: white;
	font-family: Arial;
	font-size: 12px;
	cursor: pointer;
	z-index: 0;	
	}	
				
.about-content {
	margin-top: 50px;
	margin-left: 30px;
	margin-bottom:30px;
	padding-bottom: 30px;
	}
		
.about-body {
	width: 85%;
	max-width: 580px;
	font-family: Arial;
	line-height: 1.6;
	color: #707070;
	}		

.about-content span {
	font-size: 14px;
	color: #F7941D;
	}
			
.info_text_wrapper {
    display: none;    
    width: 225px;
    line-height: 1.6;
    margin-top: 10px;
    z-index: 0;
    position: absolute;
	}

.info_text_inner_wrapper p {
	font-size: 12px;
	font-weight: normal;
	}
	
.dots{
    letter-spacing: 7px;
    max-width: 80%;
    overflow: hidden;
    font-weight: 400;
    font-size: 12px;
    color:#A8A9AB;
    margin-bottom: 0px;
    margin-top: 0px;
	}

.login_wrap {
	margin-left: 30px;
	margin-top: 50px;
	}
	
.button_style {
	border: none;
	margin-top: 25px;
	width: 100px;
	height: 21px;
	border-radius: 2px;
	background: #F7941D;
	text-align: center;
	font-family: Arial;
	color: white;
	text-transform: uppercase;
	font-size: 12px;
	z-index: 0;
	cursor: pointer;
	}	
	
#logout-sm-icon {
	margin-top: 20px;
	}
	
.game-content {
	width: 600px;
	margin-top: 80px;
	margin-left: 30px;
	}

#game_question {
	text-align: center;
	}
	
#issues_wrap {
	display: inline-block;
	margin-top: 15px;
	margin-left: -20px;
	}	
	
.ab_label {
	text-align: center;
	font-family: Arial;
	font-size: 17px;	
	}	

.ab_content {	
	background: #E9EFF5;
	font-size: 14px;
	font-family: Arial;
	text-align: center;
	width: 280px;
	height: 120px;
	border-radius: 5px 5px 5px 5px;
	border: none;
	cursor: pointer;
	color: black;
	white-space: normal; /* css-3 */
 
	}	

.ab_content:hover {
	background: #FEE8C9; 
	color: black;
	}

.ab_same_highlight {
    border: 1px solid red;
}
.ab_same_no_highlight {

}

.ab_same {
    border: 1px solid red;
    height: 24px;   
	}

#ab_sameQ {
	padding-top: 4px;

	}
	    
.ad_same:hover {
        background: black;
        color: gray;
	}
	
.flag {
	border: none;
	color: #808080;
	background: none;
	font-family: Arial;
	font-size: 11px;
	cursor: pointer;
	padding-left: 0;
	}
	
#flag_icon {
	font-size: 15px;
}

.flag:hover {
	color: #BE1E2D;
}	
	
.skip_same_wrap {	
	padding-top: 20px;
	float: left;
	width: 200px;
	}
	
#same_issue a {
	margin-top: 0;
	color: #808080;
	font-family: Arial;
	font-size: 11px;
	display: inline-block;
	padding: 0px 6px 0px 0px;
	}

#skip_question a {
	margin-top: 10;
	color: #808080;
	font-family: Arial;
	font-size: 11px;
	display: inline-block;
	padding: 0px 6px 0px 0px;
	}

#same_issue a:hover {
	cursor: pointer;
	color: #1C75BC;
	}
	
#skip_question a:hover {
	cursor: pointer;
	color: #1C75BC;
	}

#skip_same_line {
	background-color: #C8C8C8;
	width: 190px;
	height: 1px;	
	}
	
#results_title {
	float: left;
	text-align: left;
	font-size: 16px;
	font-family: Arial;
	padding: 30px 0px 10px 0px;
	display: inline block;
	}

#graph_toggle {
	float: right;
	font-size: 12px;
	font-family: Arial;
	color: #808080;
	}

.graph_toggle_highlighted {
    color: #f7941e;
}

/*#graph_toggle a {
	color: #808080;
	}
	
#graph_toggle a:hover { 
	color: #f7941e; 
	}*/
		
.results_map {
	background: #E9EFF5;
	width: 580px;
	height: 320px;
	border-radius: 5px 5px 5px 5px;
	margin-top: 10px;
	margin-bottom: 15px;
	display: inline block;
	position: relative;
	z-index: 100;
	}

#graph_key {
	width: 580px;
	height: 10px;
	background: -moz-linear-gradient(left, #2FBF19, #737223, #F2C449, #7A4520, #CC322D);
	background: -webkit-gradient(left, #2FBF19, #737223, #F2C449, #7A4520, #CC322D);  /* Safari 4-5, Chrome 1-9 */
	background: -webkit-linear-gradient(left, #2FBF19, #737223, #F2C449, #7A4520, #CC322D);  /* Safari 5.1+, Chrome 10+ */
	background: -ms-linear-gradient(left, #2FBF19, #737223, #F2C449, #7A4520, #CC322D);  /* IE 10 */
	display: inline-block;
	position: relative;
	margin-top: 10px;
	margin-bottom: 50px;
	}

#graph_key p {
	font-family: Arial;
	font-size: 12px;
	}

#graph_key p span {
	padding-left: 390px;
	}
			
footer {
	bottom: 0;	
	/*margin-top: -20px;  negative value of footer height */	
	z-index: 0;  
	padding: 0 4px;
	width: 100%;
	background: black; 
	clear: both; 
	}

#footer-copy p {
	font-family: Arial;
	font-size: 11px;
	color: #a8a8a8;
	text-align: left;
	padding: 10px;
	margin-left: 10px;
	display: inline-block;
	}
			
.twitter-follow-button {
	display: inline-block;
	float: right;
	margin-right: 30px;
	margin-top: -4%;
	}	
	
footer a {
	color: #F7941E;
	}
	
footer a:hover {
	color: #cc6600;
	}	

p.chosen {
  background-color: #ddd;
}

.nodeText {
    font-family: sans-serif;
    font: arial;
    font-size: 1.1em;
}
.dark {
    fill: black;
}
.light {
    fill: #808079;
}
.chart {
    background: #E9EFF5;
}
