/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


		
html, body {
	margin: 0 auto;
	padding: 0;
	height: 100%;}

a { text-decoration: none; }	


#page_wrapper {
	margin-left: auto;
	margin-right: auto;
	min-height: 100%;
	position: relative;
	}
       
.container {
    z-index: 200;  
      
	}
	
.nav {	
	float: left;
	width: 1000px;
	position: absolute;

	}
	
.nav ul {
	text-align: center;
	display: inline-block;
	}
		
.nav li {

	list-style-type: none;
	margin: 20px;
	margin-top: -14px;
	float: left;
	font-family: Arial;
	font-size: 12px;
	text-decoration: none; 
    padding-right: 50px; 
 
	}
	
.nav a { color: #f7941e; }

.nav a:hover { color: #cc6600; }
	
.menu-item-beta {
		color: #a8a8a8;}

.navbar-fixed-top {
     z-index: 200;
     position: fixed;    
     top: 8px;
     }

.navbar-inner {
	z-index: 200;
	}
    
.sign-in span {
	color: #f7941e;
	padding: 6px;
	}
	            
.black-bar {
    height: 34px;
    background: black;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0;
    z-index: 10;
}

#wrap {min-height: 100%; }

#logo_wrapper {
    margin: 70px 0px 20px 20px;
	}
	
.sign_in_2 {
	margin-top: 80px;
	text-transform: uppercase;
	}

.example_submission {
	margin-top: 20px;	
	text-transform: uppercase;
	}
	
.right-links {
	margin-left: 50px;
	width: 285px;
	}

.right-links p {
	font-size: 12px;
	font-weight: bold;
	}

.show_example {	
	float: left;
	}
	
.expand_box2 {
	position: absolute;
	width: 14px;
	height: 14px;
	border-radius: 2px;
	background: #F7941D;
	text-align: center;
	margin-top: 22px;
	margin-left: 0px;
	z-index: 0;		
	}	
	
.expand_box2 p {
	color: white;
	font-size: 15px;
	font-weight: normal;
	margin-top: -14%;
	}	
	
	
.form-content {
	margin-top: 50px;
	margin-left: 30px;
	}

h1 {
	font-family: Arial;
	font-size: 16px;
	}
	
.form-box {
	border: 1px solid #c8c8c8;
	width: 592px;
	height: 110px;
	}
		
.textbox {	
	border: 1px solid #c8c8c8;
	width: 592px;
	height: 110px;	
	padding: 4px;
	}	
		
#issue_field1 {	
	border: 1px solid #c8c8c8;
	width: 592px;
	height: 110px;	
	padding: 4px;
	font-family: Arial;
	letter-spacing: .5px;
	font-size: 12px;
	}	


#causes_field1 {
	border: 1px solid #c8c8c8;
	width: 592px;
	height: 110px;	
	padding: 4px;
	margin-bottom: 4px;
	font-family: Arial;
	font-size: 12px;
	letter-spacing: .5px;
	}	
	
#effects_field1 {
	border: 1px solid #c8c8c8;
	width: 592px;
	height: 110px;	
	padding: 4px;
	margin-bottom: 4px;
	font-family: Arial;
	font-size: 12px;
	letter-spacing: .5px;
	}	

.button {
	border: none;
	font-size: 12px;
	background: none;
	margin-left: 10px;
	cursor: pointer;
	}
	
#textbox2 {	
	border: 1px solid #c8c8c8;
	width: 592px;
	height: 110px;	
	padding: 4px;
	}		
	
.form-box p {
	color: #707070;
	font-size: 12px;
	padding: 2px;
	margin-left: 8px;
	}	
	
.add_problems {
	float: left;
	display: inline;
	margin-bottom: 30px;
	margin-top: 4px;
	width: 592px;
	}		
	
.add_problems > p {
	font-size: 12px;
	margin-left: 20px;
	}	
	
.expand_box {
	position: absolute;
	width: 14px;
	height: 14px;
	border-radius: 2px;
	background: #F7941D;
	text-align: center;
	margin-top: 3px;
	z-index: 0;	
	}	
		
	
.expand_box p:first-child {
	margin-top: -18%;
	color: white;
	font-size: 15px;
	}		

.info_text_inner_wrapper span {
	font-family: Arial;
	font-weight: bold;
	}
	
.dropbox_title_wrapper {
    width: 100%;
    display: table;
    height:12px 
}

.dropbox_title_inner_wrapper {
    float: left;
    margin-right: 10px;
}	
	
.submit_button {
	border: none;
	margin-top: 5px;
	margin-bottom: 70px;
	float: right;
	width: 80px;
	height: 21px;
	border-radius: 2px;
	background: #F7941D;
	text-align: center;
	color: white;
	font-size: 12px;
	text-shadow: 1px 1px 0px #CC6600;
	z-index: 0;	
	}			
	
.about-content {
	margin-top: 50px;
	margin-left: 30px;
	}
		
#about-body {
	width: 580px;
	line-height: 1.6;
	}		
		
.info_text_wrapper {
    display: none;    
    width: 225px;
    line-height: 1.6;
    margin-top: 10px;
    z-index: 0;
    position: absolute;
}

.info_text_inner_wrapper p {
	font-size: 12px;
	font-weight: normal;
	}
	
.dots{
    letter-spacing: 7px;
    max-width: 80%;
    overflow: hidden;
    font-weight: 400;
    font-size: 12px;
    color:#A8A9AB;
    margin-bottom: 0px;
    margin-top: 0px;
	}

.game-content {
	width: 600px;
	margin-top: 80px;
	margin-left: 30px;
	}

#game_question {
	text-align: center;
	}
	
#issues_wrap {
	display: inline-block;
	margin-top: 15px;
	margin-left: -20px;
	}	
	
.ab_label {
	text-align: center;
	font-family: Arial;
	font-size: 17px;	
	}	

.ab_content {	
	background: #E9EFF5;
	font-size: 14px;
	font-family: Arial;
	text-align: center;
	width: 280px;
	height: 120px;
	border-radius: 5px 5px 5px 5px;
	border: none;
	cursor: pointer;
	color: black;
	
	}	

.ab_content:hover {
	background: #FEE8C9; 
	color: black;
	}
	
.flag {
	border: none;
	color: #808080;
	background: none;
	font-family: Arial;
	font-size: 11px;
	cursor: pointer;
	padding: 0px 3px;
	}

.flag:hover {
	color: #BE1E2D;
}	
	
.skip_same_wrap {
	text-align: right;
	padding-top: 20px;
	padding-right: 20px;
	float: right;
	}
	
#same_issue p {
	margin-top: 0;
	color: #808080;
	font-family: Arial;
	font-size: 11px;
	display: inline-block;
	padding: 0px 6px;
	}

#skip_question p {
	margin-top: 10;
	color: #808080;
	font-family: Arial;
	font-size: 11px;
	display: inline-block;
	padding: 0px 6px;
	}

#same_issue p:hover {
	cursor: pointer;
	color: #1C75BC;
	}
	
#skip_question p:hover {
	cursor: pointer;
	color: #1C75BC;
	}

#skip_same_line {
	background-color: #C8C8C8;
	width: 190px;
	height: 1px;	
	}
	
.whitespace {
	height: 30px;
	}
	
.twitter-follow-button {
	margin-left: 350px;
	}	
	
#footer-bar {
	position: absolute;
	margin-top: 70px; /* negative value of footer height */
	height: 70px;
	width: 100%;
	bottom: 0px;
	background: black;
	left: 0;
	}
	
#footertable {	
	margin-left: 10px;
	}
		
#footer-copy {
	font-family: Arial;
	font-size: 11px;
	color: #a8a8a8;
	text-align: left;
	padding: 16px;
	}
	
footer a {
	color: #F7941E;
	}
	
footer a:hover {
	color: #cc6600;
	}	

p.chosen {
  background-color: #ddd;
}
